<section class="my-3">

    @if (step==1) {
        <form [formGroup]="verifyEmail" (ngSubmit)="verifyEmailsubmit()">
            <h1 class="fw-bold ">Please Enter Your Email</h1>
            <div class="form-floating mb-3">

                <input type="email" name="email" id="email" placeholder="Enter Your Email" formControlName="email" class="form-control my-3">
                <label for="email">Email</label>
            </div>
      
            <button type="submit" class="btn-main" [disabled]="verifyEmail.invalid">Verify</button>
          </form>
    }
    @else if (step==2) {
        <form [formGroup]="verifyCode" (ngSubmit)="verifyCodesubmit()">
            <h1 class="fw-bold ">Please Enter Your Code</h1>
            
            <div class="form-floating mb-3">

                
                <input type="text" name="resetcode" id="resetcode" placeholder="Enter Your resetcode" formControlName="resetcode" class="form-control form-floating my-3">
                <label for="resetcode">Code</label>
            </div>
            
            
      
            <button type="submit" class="btn-main" [disabled]="verifyCode.invalid">Verify</button>
          </form>
    }
    @else if (step==3) {
        <form [formGroup]="resetPass" (ngSubmit)="resetpasssubmit()">
            <h1 class="fw-bold ">Please Enter Your NewPassword</h1>
            <div class="form-floating mb-3">

                <input type="email" name="email" id="email" placeholder="Enter Your Email" formControlName="email" class="form-control my-3">
                <label for="floatingInput">Email</label>
            </div>
            <div class="form-floating mb-3">

                
                <input type="password" name="resetpass" id="resetpass" placeholder="Enter Your New Password" formControlName="resetpass" class="form-control my-3">
                <label for="resetpass">New Password</label>
            </div>
            
      
      
            <button type="submit" class="btn-main" [disabled]="resetPass.invalid">Verify</button>
          </form>
    }
    
</section>
